# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/

# Environment Variables
.env
.env.local

# Database
*.db
*.sqlite

# Local Development
.DS_Store